

.card {

  max-width: $aaxContainerWidth;
  min-height: $minContainerHeight;
  background-color: $white;
  border-radius: 1.25rem;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  display: block;
  margin: 150px auto;

  .centered-container {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 18rem;

    img {
      margin-top: 1rem;
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
    }

    .title {
      margin-top: 1.5rem;
      color: $darkNavy;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      /* Heading */
      font-family: Outfit, sans-serif;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .text{
      margin-top: 1rem;
      padding: 0 1rem;
      color: $gray;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      /* Body */
      font-family: Outfit, sans-serif;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.01175rem;
    }

  }
}