/**********************/
/**    Variables     **/
/**********************/

/** Colors **/

$darkNavy: #1F314F;
$gray: #7D889E;
$white: #FFF;
$lightGray: #D5E1EF;

/*************/

/** Spacing **/

/*************/



/** width & height **/

$aaxContainerWidth: 20rem;
$minContainerHeight: 31.1rem;
$centeredContainerWidth: 18rem;
$qrWidth: 10px;

/********************/


/***********************/
/***********************/


/**    common css blocks    **/